@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    width: 100%;
}
/*--Navbar--*/
#navbar {
    background: transparent;
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 20px;
    width: 100%;
    height: 45px;
    box-shadow: -10px 0 10px black;
    transition: all .5s ease;
    z-index: 1;
}
#navbar.scrolling-active {
    padding: 25px;
    top: 0;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    font-size: 30px;
}
.navigation {
    display: flex;
    gap: 3.5rem;
}
.navigation li {
    list-style-type: none;
}
.navigation li:last-child {
    background: #313032;
    border-radius: 10px;
    cursor: pointer;
}
.navigation li a {
    text-decoration: none;
    color: mediumslateblue;
    font-size: 16px;
    padding: 0 5px;
    transition: 500ms;
}
.navigation li:last-child a {
    color: #fff;
}
.navigation li a span {
    color: #e73c7e;
}
.navigation li:hover {
    border-bottom: 1px solid #23a6d5;
    width: fit-content;
}
.navigation li:last-child:hover {
    background: #df013c;
    border-radius: 10px;
    color: #fff;
    border-bottom: none;
}
#checkbox {
    display: none;
}
.menu {
    display: none;
}
.textlogo {
    font-weight: 900;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: transparent;
    background-size: 400% 400%;
    background-clip: text;
    animation: gradient 5s ease infinite;
    text-overflow: clip;
    cursor: pointer;
}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*Navbar End..*/

/*--Home Page--*/
#home {
    width: 100%;
    height: 100vh;
    background-color: #16131a;
    display: flex;
    align-items: center;
}
.homeleft,.homeright {
    max-height: 250px;
    margin: auto;
    color: honeydew;
}
/*h-left article*/
.homeleft {
    max-width: 450px;
    margin-top: 236px;
}
.homeleft h1,.homeleft h3 {
    line-height: 1.4;
}
.homeleft h1 {
    font-size: 2.2rem;
    color: transparent;
    background: linear-gradient(-180deg, #23a6d5, mediumslateblue, #23a6d5);
    background-clip: text;
    text-overflow: clip;
}
.homeleft p {
    font-size: 15px;
    font-weight: 200;
    margin-top: 7px;
}
.home-btn, #home-message-btn {
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 15px 0;
    transition: all 250ms;
    cursor: pointer;
}
.home-btn {
    background: linear-gradient(5deg, #23a6d5, mediumslateblue);
    margin-right: 5px;
    width: 60px; height: 35px;
}
.home-btn a {
    color: honeydew;
    font-size: 16px;
    text-decoration: none;
}
.home-btn:hover, #home-message-btn:hover {
    box-shadow: 0 0 3px honeydew;
    transform: translateY(-2px);
}
#home-message-btn {
    background: linear-gradient(5deg, mediumslateblue,#23a6d5);
    color: honeydew;
    font-size: 16px;
    width: 90px; height: 35px;
}
.homeleft #message {
    width: 200px;
    background: #fff;
    position: absolute;
    left: 121%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    color: black;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;
    visibility: hidden;
}
#message h4 {
    color: mediumslateblue;
}
#message p {
    font-size: 15px;
}
#message button {
    width: 80px; 
    height: 30px;
    margin-top: 10px;
    background: #16131a;
    border: 1px solid transparent;
    border-radius: 5px;
    color: honeydew;
    cursor: pointer;
}
.homeleft #message.open-message {
    visibility: visible;
    top: -40%;
    transform: translate(-50%, -50%) scale(1);
}
/*h-right article*/
.homeright {
    max-width: 350px;
    margin-top: 168px;
}
.homeright img {
    perspective: 600px;
}
.code-icon-img {
    width: 350px;
    background-size: cover;
    object-fit: cover;
    backface-visibility: hidden;
    animation: naikTurun 2s ease-in-out alternate-reverse infinite;
}
@keyframes naikTurun {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/*background: linear-gradient(-45deg, #5a5bf1, #91e7da);*/
/*-- home page End.. --*/


/*-Sixpcs Page--*/
#sixpcs {
    width: 100%;
    height: 100vh;
    background: azure;
    display: flex;
    align-items: center;
}
.sixpcs-contain {
    margin: auto;
}
/*heading*/
.heading-sixpcs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-sixpcs h1 {
    font-size: 2.2rem;
    margin: 15px 0 40px;
    border-bottom: 1px solid #3d2e5a;
}
/*box 6 pics*/
.boxcontainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem 6rem;
}
.boxcontainer img{
    width: 250px;
    height: 125px;
    border-radius: 5px;
    border: 1px solid #3d2e5a;
    perspective: 600px;
}
.boxitem {
    max-width: 250px;
    text-align: center;
}
.boxitem p {
    font-size: 15px;
    font-weight: 400;
}
.item{
    position: relative;
    overflow: hidden;
}
.item figcaption {
    position: absolute;
    bottom: -9rem;
    background-color: rgb(0, 0, 0, 0.76);
    border-radius: 5px;
    padding: 2.22rem 0;
    margin-bottom: 5.6px;
    color: white;
    transition: all 400ms;
    font-family: none;
}
.boxitem button {
    margin-top: 4px;
    padding: 5px 10px;
    background: linear-gradient(180deg, #e73c7e, #23a6d5);
    border: 1px solid transparent;
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    transition: all 250ms;
    cursor: pointer;
}
.boxitem button:hover {
    box-shadow: 0 0 2px #16131a;
    transform: translateY(-2px);
}
/*-- Sixpcs Page End.. --*/

/*--About Page--*/
#about {
    width: 100%;
    height: 100vh;
    background: #16131a;
    display: flex;
}
.about-boxcard, .about-explain {
    margin: auto;
}
/*boxcard*/
.about-boxcard {
    perspective: 600px;
}
.about-card {
    position: relative;
    width: 300px;
    height: 400px;
    border: 1px solid transparent;
    transition: transform 2s;
    transform-style: preserve-3d;
}
/*.about-card:hover {
    transform: rotateY(-180deg) rotateX(360deg) rotateZ(360deg);
}*/
/*front back*/
.front, .back {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    backface-visibility: hidden;
}
/*front*/
.front {
    background: linear-gradient(to right, mediumslateblue, #23a6d5);
}
/*back*/
.back {
    background: #5a5bf1;
    transform: rotateY(180deg);
}
/* front -show-*/
.front .front-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.front-bar .fa-chart-bar, .front-bar .fa-gear, .front-bar h1 {
    color: white;
    font-size: 30px;
}
.front-bar .fa-chart-bar, .front-bar .fa-gear {
    margin-top: -15px;
}
.front-bar h1 {
    padding-top: 20px;
}
.front-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.front-show img {
    width: 100px;
    background: #16131a;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 50px;
}
.front-show p {
    font-size: 15.5px;
    font-weight: 400;
    color: black;
}
.front-show button {
    width: 80px;
    height: 40px;
    font-size: 16px;
    color: white;
    background: #16131a;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 250ms;
    cursor: pointer;
}
.front-show button:hover {
    transform: translateY(2px);
    box-shadow: 0 0 3px #fff;
}
.front-show .front-socialmedia {
    display: flex;
    gap: 1.5rem;
    margin-top: 7px;
}
/* card -social media- */
.front-socialmedia .fa-instagram, .fa-square-facebook, .fa-tiktok, .fa-github {
    font-size: 28px;
    padding: 2px 4px 3px;
    color: white;
    border-radius: 25%;
    cursor: pointer;
}
.fa-instagram:hover {
    background: linear-gradient(to bottom, mediumslateblue, #e73c7e, #ee7752);
}
.fa-square-facebook:hover {
    background: white;
    color: #007dfc;
}
.fa-tiktok:hover,.fa-github:hover {
    background: #16131a;
}
.front-show p, .front-show button {
    margin-top: 15px;
}
/*back show*/
.back .back-show {
    text-align: center;
    color: azure;
    display: none;
}
.back-show h1{
    padding: 25px 0 10px;
}
.back-show li {
    list-style: none;
    text-align: left;
    padding: 15px 10px;
    font-size: 22px;
    font-weight: 300;
}
/*explain*/
.about-explain {
    max-width: 600px;
    margin-left: -8px;
}
.about-explain h2 {
    font-size: 2.9rem;
    background: linear-gradient(-180deg, #23a6d5, mediumslateblue);
    background-clip: text;
    text-overflow: clip;
    color: transparent;
}
.about-explain p {
    color: white;
    font-weight: 200;
    font-size: 16px;
    margin: 10px 0 15px;
}
.about-explain #flip-btn {
    background: linear-gradient(-180deg, mediumslateblue, #23a6d5);
    border: 1px solid transparent;
    border-radius: 5px;
    color: azure;
    font-size: 15px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    transition: all 250ms;
}
.about-explain #flip-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 2px #fff;
}
/*--About Page End..--*/

/*--Skill Page--*/
#skill {
    width: 100%;
    height: 100vh;
    display: flex;
    background: azure;
}
.skill-contain {
    margin: auto;
}
/*heading*/
.headingskills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -70px 0 30px;
}
.headingskills h1 {
    font-size: 2.2rem;
    color: #16131a;
    border-bottom: 1px solid #3d2e5a;
}
/*Box Skill*/
.boxskills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 6rem;
}
.boxskill-item {
    padding: 10px 30px;
    background: #16131a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxskill-item p {
    color: white;
}
.boxskill-item .fa-html5, .fa-css3-alt, .fa-js, .fa-bootstrap, .fa-react, .fa-node, .bxl-jquery, .bxl-tailwind-css {
    font-size: 110px;
    cursor: pointer;
}

/*Overview*/
.ovw-fill {
    margin: -33px 0;
    margin-left: 100px;
    padding: 7px 22px 0;
    color: azure;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    width: 0; height: 0;
    overflow: hidden;
    opacity: -30;
    transition: 1s linear;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.5rem 3rem;
    box-shadow: 0 0 20px deeppink;
}
.ovw-fill h2 {
    font-size: 14px;
    font-weight: 400;
}
.ovw-fill h2::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 25px;
    display: block;
    background: linear-gradient(to right, #e73c7e, #23a6d5);
}
.ovw-btn {
    width: 80px; height: 35px;
    border: 2px solid #16131a;
    border-radius: 5px;
    color: deeppink;
    margin-top: 30px;
    transition: all 250ms;
}
.ovw-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 2px #16131a;
}
.ovw-btn label {
    cursor: pointer;
    font-size: 15px;
}
.ovw-btn label::before {
    content: "Overview";
    color: #23a6d5;
}
.ovw-fill, .ovw-btn {
    background: #16131a;
}
.persen {
    font-size: 11px;
}
.ovw2 {width: 95%;}  .ovw3 {width: 65%;}  .ovw4 {width: 80%;}  .ovw5 {width: 40%;}

.ovw6 {width: 38%;}  .ovw7 {width: 52%;}  .ovw8 {width: 73%;}

#ovw-spawn {
    display: none;
}
#ovw-spawn:checked ~.ovw-fill {
    width: 975px; height: 20vh;
    opacity: 1;
    border: 1px solid transparent;
    box-shadow: none;
}
#ovw-spawn:checked ~.ovw-btn label::before {
    content: none;
}
#ovw-spawn:checked ~.ovw-btn label::after {
    content: "Close";
    color: #e73c7e;
}
/*-- Skill Page End.. --*/

/*--Project Page--*/
#project {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #16131a;
}
.pro-contain {
    margin: auto;
}
/*heading*/
.headingpro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0 22px;
}
.headingpro h1 {
    color: mediumslateblue;
    font-size: 2.2rem;
}
/*Box Project*/
.boxproject {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 4rem;
    max-width: 650px;
}
.boxproject img {
    width: 250px;
    height: 125px;
    border: 2px solid azure;
    border-radius: 10px;
}
.boxproject p {
    width: 250px;
    font-size: 14px;
    font-weight: 200;
    color: azure;
}
/*mistery*/
.promistery img{
    position: absolute;
    width: 150px;
    height: 70px;
    border: 2px solid transparent;
    border-radius: 10px;
    background: azure;
}
.promistery > img {
    margin-top: -417px;
    animation: mistery1 4s linear infinite;
}
.promistery img + img {
    margin-top: -297px;
    animation: mistery2 4s linear infinite;
}
@keyframes mistery1 {
    0% {transform: translateX(0); opacity: -1;}
    50%{transform: translateX(-280px); opacity: 1;}
    100%{transform: translateX(0); opacity: -1;}
}
@keyframes mistery2 {
    0%{transform: translateX(400px); opacity: -1;}
    50%{transform: translateX(680px); opacity: 1;}
    100%{transform: translateX(380px); opacity: -1;}
}
/*-- Project Page End.. --*/


/*--Contact Page--*/
#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    background: azure;
}
.contact-contain {
    margin: auto;
}
/*heading*/
.headingcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: -20px;
}
.headingcontact h1 {
    font-size: 2.2rem;
    color: deeppink;
    border-bottom: 1px solid #3d2e5a;
}
/*Box Contact*/
.box-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
}
.info-contact {
    max-width: 300px;
}
.info-contact p {
    display: flex;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;
}
.info-contact p span {
    padding-top: 14px;
    text-indent: 10px;
}
.info-contact p i {
    width: 50px; height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-contact :nth-child(5) { /*p yang ke 5*/
    display: block;
}
.info-contact :nth-child(1) { /*p yang ke 1*/
    margin-top: 0;
}
.fa-phone-volume, .fa-envelope, .fa-map-location-dot, .fa-dev {
    background: linear-gradient(-180deg, #e73c7e, #23a6d5);
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
}
/*form*/
#contact form {
    width: 400px;
    max-width: 500px;
    padding: 30px 15px 5px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    position: relative;
}
#contact form .fa-paper-plane {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(180deg, #e73c7e, #23a6d5);
    color: #fff;
    font-size: 30px;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.input-group label, ::placeholder {
    font-size: 14px;
}
.input-group label{
    flex-basis: 28%;
    font-size: 14px;
}
.input-group input, .input-group textarea {
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 15px;
}
#contact form button {
    background: linear-gradient(180deg, #e73c7e, #23a6d5);
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}
.input-group span {
    position: absolute;
    bottom: 12px;
    right: 17px;
}
.input-group span, #submit-error {
    color: red;
    font-size: 12px;
}
/*-- Contact page End --*/

/*--Footer--*/
footer {
    width: 100%; height: 40vh;
    background: #16131a;
}
/*top section*/
.footer-top {
    display: flex;
    padding: 20px 50px 0;
}
.footer-left-top {
    width: 320px;
}
.footer-left-top h1{
    color: mediumslateblue;
    font-size: 30px;
    font-weight: 500;
}
.footer-left-top p {
    color: azure;
    font-size: 13px;
    font-weight: 200;
}
.footer-right-top {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-gap: 3rem;
    padding-left: 200px;
}
.footer-right-top h3 {
    margin: 5px 0;
    color: #e73c7e;
    font-size: 16px;
    font-weight: 500;
}
.footer-right-top ul li, .footer-right-top ul li a{
    text-decoration: none;
    list-style: none;
    font-size: 13px;
    font-weight: 200;
    color: azure;
}
.footer-right-top ul li,.footer-right-top ul li a:hover {
    color: lightsteelblue;
}
.ft-right-ul-product, .ft-right-ul-uselink, .ft-right-ul-address {
    width: 170px;
}
/*bottom section*/
.footer-bottom {
    color: azure;
    display: flex;
    padding-top: 50px;
}
.footer-bottom p {
    margin: auto;
    font-size: 16px;
}
/*-- Footer End.. --*/

/*--IPAD screen*/
@media screen and (max-width: 1024px){
    /*Navbar responsive*/
    .navigation {
        position: absolute;
        top: 45.5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        align-items: center;
        background: rgba(28, 28, 28, 0.5);
        width: 100%;
        right: 0;
        padding: 0 0;
        height: 0;
        overflow: hidden;
        transition: 500ms;
    }
    #checkbox:checked ~.navigation {
        height: 25vh;
        padding: 0 10px;
    }
    .menu {
        display: block;
    }
    .menu label {
        width: 60px;
        height: 60px;
        position: absolute;
        cursor: pointer;
    }
    .menu .fa-bars,.menu .fa-xmark {
        color: #5a5bf1;
        font-size: 30px;
        margin-top: 4px;
    }
    .menu .fa-xmark{
        display: none;
    }
    #checkbox:checked ~.menu .fa-bars {
        display: none;
    }
    #checkbox:checked ~.menu .fa-xmark {
        display: block;
    }
    #navbar.scrolling-active {
        top: 0;
        padding: 20px;
    }
    .navigation li:last-child {
        text-align: center;
    }
    /*Navbar End*/

    /*--Home page--*/
    #home {
        width: 100%;
        height: 60vh;
        display: inline-block;
    }
    .homeleft,.homeright {
        margin: auto;
    }
    .homeleft {
        text-align: center;
        margin-top: 120px;
    }
    .homeleft h1 {
        font-size: 2rem;
    }
    .homeleft p {
        font-size: 15px;
        font-weight: 200;
    }
    .homeright {
        max-width: 265px;
    }
    .homeright .code-icon-img {
        width: 265px;
        margin-top: 75px;
    }
    .homeleft #message {
        left: 50%;
    }
    .homeleft #message.open-message {
        top: 50%;
    }
    /*--Home page End..--*/

    /*--Sixpcs page--*/
    #sixpcs {
        height: auto;
    }
    .sixpcs-contain {
        padding: 50px 10px;
    }
    .heading-sixpcs {
        text-align: center;
        margin: 0 0 20px;
    }
    .heading-sixpcs h1 {
        font-size: 2rem;
    }
    .boxcontainer {
        display: block;
    }
    .boxitem {
        margin: auto;
        margin-bottom: 30px;
    }
    /*--Sixpcs page End..--*/

    /*--About Page--*/
    #about {
        flex-direction: column-reverse;
        height: 90vh;
    }
    .about-boxcard, .about-explain, .about-explain #flip-btn {
        margin: auto;
    }
    .about-boxcard {
        margin-top: -50px;
    }
    .about-card, .front, .back {
        width: 250px;
        height: 350px;
    }
    .front-bar .fa-chart-bar, .front-bar .fa-gear, .front-bar h1 {
        font-size: 25px;
    }
    .front-show img {
        width: 90px;
        margin-top: 40px;
    }
    .front-show p {
        font-size: 13.25px;
        font-size: 500;
    }
    .front-show button {
        width: 70px;
        height: 35px;
        font-size: 16px;
        margin-top: 15px;
    }
    .front-socialmedia .fa-instagram, .fa-square-facebook, .fa-tiktok, .fa-github {
        font-size: 25px;
    }
    .back-show h1 {
        font-size: 20px;
    }
    .back-show li {
        font-size: 16px;
    }
    .about-explain {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 60px;
    }
    .about-explain h2, .about-explain p {
        text-align: center;
    }
    .about-explain h2 {
        font-size: 2.8rem;
        margin-top: 20px;
    }
    .about-explain p {
        font-size: 15px;
        margin: 10px 0 25px;
    }
    /*-- About page End.. --*/

    /*--Skill page--*/
    #skill {
        width: 100%; height: auto;
    }
    .skill-contain {
        padding: 70px 10px;
    }
    .boxskills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem 5rem;
    }
    .headingskills{
        margin: 0 0 50px;
    }
    .headingskills h1 {
        font-size: 2rem;
    }
    .boxskill-item .fa-html5, .fa-css3-alt, .fa-js, .fa-bootstrap, .fa-react, .fa-node, .bxl-jquery, .bxl-tailwind-css {
        font-size: 85px;
    }
    .OverView {
        display: flex;
    }
    .ovw-btn {
        margin: auto;
        margin-top: 30px;
    }
    .ovw-fill {
        padding: 10px 14px 0;
        margin: 100px 0 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0rem 1rem;
    }
    #ovw-spawn:checked ~.ovw-fill {
        width: 410px; height: 20vh;
    }
    /*-- Skill page End.. --*/

    /*--Project page--*/
    #project {
        width: 100%; height: auto;
    }
    .pro-contain {
        padding: 70px 10px;
    }
    .headingpro {
        margin: 0 0 40px;
    }
    .headingpro h1 {
        font-size: 2rem;
    }
    .boxproject {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem 0;
    }
    .boxproject img,.boxproject p {
        margin: auto;
    }
    .boxproject p {
        width: 330px;
    }
    .boxproject img {
        width: 330px;
        height: 120px;
    }
    .promistery {
        display: none;
        animation: none;
    }
    /*-- Project page End --*/

    /*--Contact page--*/
    #contact {
        width: 100%; height: auto;
     }
     .contact-contain {
        padding: 70px 10px;
    }
    .headingcontact {
        margin: 0 0 60px;
     }
     .headingcontact h1 {
        font-size: 2rem;
     }
     .box-contact {
         display: grid;
         grid-template-columns: repeat(1, 0fr);
         grid-gap: 5rem 0;
     }
     .info-contact {
         margin-left: 20px;
     }
     .info-contact p {
         margin-top: 30px;
     }
     /*-- Contact page End --*/

    /*--Footer--*/
    footer {
        height: 90vh;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
    }
    .footer-left-top {
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
    }
    .footer-right-top {
        padding-left: 50px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        grid-gap: 0 2rem;
    }
    .ft-right-ul-product, .ft-right-ul-uselink, .ft-right-ul-address {
        width: none;
    }
    .footer-bottom {
        padding-top: 80px;
    }
    /*-- Footer End --*/
}
/*-- IPAD screen End.. */


/*--MOBILE screen--*/
@media screen and (max-width: 767px) {
    /*Navbar responsive*/
    #checkbox:checked ~.navigation {
        height: 50vh;
        padding: 0;
    }
    /*Navbar end..*/
    #home {
        height: 130vh;
    }
    #about {
        height: 180vh;
    }
    footer {
        height: 130vh;
    }

    /*--home page--*/
    .homeleft h1 {
        font-size: 1.8rem;
    }
    .homeright .code-icon-img {
        margin-top: 70px;
    }
    /*--home page end..*/

    /*--sixpcs page--*/
    .sixpcs-contain {
        padding: 55px 10px;
    }
    .heading-sixpcs h1 {
        font-size: 1.8rem;
    }
    /*--sixpcs page end..*/

    /*--about page--*/
    .about-boxcard {
        margin-top: -70px;
    }
    .about-explain h2 {
        font-size: 2.6rem;
    }
    /*about page end..*/

    /*--skill page--*/
    .headingskills h1 {
        font-size: 1.8rem;
    }
    .ovw-fill {
        margin: 100px 10px 10px -140px;
        padding: 10px 12px 0;
        grid-gap: 0rem 1rem;
    }
    #ovw-spawn:checked ~.ovw-fill {
        width: 300px; height: 35vh;
    }
    .boxskills {
        grid-gap: 3rem;
    }
    .boxskill-item {
        padding: 10px 10px;
    }
    /*--skill page end..*/

    /*--project page--*/
    .headingpro h1 {
        font-size: 1.8rem;
    }
    .boxproject {
        grid-gap: 2rem 0;
    }
    .boxproject img {
        width: 245px; 
        height: 100px;
    }
    .boxproject p {
        width: 245px;
    }
    /*--project page end..*/
    
    /*--contact page--*/
    .headingcontact h1 {
        font-size: 1.8rem;
    }
    .info-contact :nth-child(1) {
        margin-top: -10px;
    }
    #contact form {
        width: 300px;
        max-width: 300px;
    }
    #contact form .fa-paper-plane {
        font-size: 26px;
    }
    .input-group input, .input-group textarea, .input-group label, ::placeholder {
        font-size: 12px;
    }
    /*--contact page end..*/

    /*--footer--*/
    .footer-left-top {
        margin-bottom: 0;
    }
    .footer-right-top {
        padding: 25px 0 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .footer-bottom {
        padding-top: 70px;
    }
    /*--footer end..--*/
}