
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*--header > intro --*/


/*--Navbar--*/
#navbar {
    background: rgb(22, 19, 26);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    height: 45px;
    box-shadow: -10px 0 10px black;
    transition: all .5s ease;
    z-index: 1;
}

#navbar.scrolling-active {
    background: transparent;
    padding: 20px;
    top: 0;
}

.nav-link.scrolling-active {
    color: rgb(84, 153, 209);
}
.nav-link.scrolling-active:hover {
    color: white;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    font-size: 30px;
}
.navigation {
    display: flex;
    gap: 1rem;
}
.navigation li {
    list-style: none;
}
.navigation li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    border-radius: 99px;
    padding: 0 10px;
    transition: 500ms;
}
.navigation li a:hover {
    background: #007dfc;
    color: rgb(10, 6, 22);
}
#checkbox {
    display: none;
}
.menu {
    display: none;
}
.textlogo {
    font-family: sans-serif;
    font-weight: 900;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: transparent;
    background-size: 400% 400%;
    background-clip: text;
    animation: gradient 5s ease infinite;
    text-overflow: clip;
}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*Navbar End..*/

/*--home page--*/
#home {
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 19, 26);
    display: flex;
    align-items: center;
}
.homeleft,.homeright {
    max-height: 250px;
    margin: auto;
    margin-top: 180px;
}
/*h-left article*/
.homeleft {
    max-width: 460px;
    font-family: Arial, Helvetica, sans-serif;
}
.homeleft h1,h3 {
    line-height: 1.4;
    font-weight: 800;
}
.homeleft h1 {
    font-size: 35px;
    color: transparent;
    background: linear-gradient(-185deg, #23a6d5, #5a5bf1, #23a6d5);
    background-clip: text;
    text-overflow: clip;
}
.homeleft h3 {
    margin-top: 45px;
    color: darkviolet;
}
.homeleft p {
    color: azure;
    font-size: 18px;
    font-weight: 800;
    font-family: none;
    margin-top: 7px;
}
.home-btn, #home-message-btn {
    border-radius: 5px;
    margin: 15px 0;
    padding: 5px 10px;
    transition: all .3s ease-in-out;
}
.home-btn {
    background: linear-gradient(5deg, #23a6d5, darkviolet);
    border: 1px solid transparent;
    margin-right: 5px;
}
.home-btn a {
    color: azure;
    font-size: 18px;
    text-decoration: none;
}
.home-btn:hover {
    box-shadow: 0 0 4px rgb(255, 206, 116);
    transform: translateY(-3px);
}
.home-btn a:hover {
    color: #5a5bf1;
}
#home-message-btn {
    background: linear-gradient(-183deg, darkviolet,#23a6d5);
    border: 1px solid transparent;
    color: whitesmoke;
    font-size: 18px;
    text-decoration: none;
}
#home-message-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 4px rgb(255, 206, 116);
}
/*h-right article*/
.homeright {
    max-width: 350px;
}
.homeright img:nth-child(2) {
    width: 350px;
    background-size: cover;
    object-fit: cover;
}
/*background: linear-gradient(-45deg, #5a5bf1, #91e7da);*/
#motivation {
    background: transparent;
    position: absolute;
    width: 300px;
    margin-left: -150px;
    margin-top: -90px;
    display: none;
}
/*-- home page End.. --*/



/*-DoThis page--*/
#dothis {
    width: 100%;
    height: 100vh;
    background: azure;
    display: flex;
    align-items: center;
}

.dothiscontain {
    margin: auto;
}
.headingdothis {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.headingdothis h1 {
    font-size: 2.25rem;
    margin-bottom: 40px;
    position: relative;
}
.headingdothis h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    background: linear-gradient(-185deg, #e73c7e, #007dfc);
}

.boxcontainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem 6rem;
}
.boxcontainer img{
    width: 250px;
    height: 125px;
    border-radius: 5px;
    border: 1px solid rgb(15, 12, 19);
    perspective: 600px;
}
.boxitem {
    max-width: 250px;
    text-align: center;
}
.boxitem p {
    font-size: 16px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}
.item{
    position: relative;
    overflow: hidden;
}
.item figcaption {
    position: absolute;
    bottom: -9rem;
    background-color: rgb(0, 0, 0, 0.76);
    border-radius: 5px;
    padding: 2.15rem 0;
    margin-bottom: 3px;
    color: white;
    transition: all 400ms;
}
.boxitem button {
    margin-top: 4px;
    padding: 5px 10px;
    background: linear-gradient(-180deg, #e73c7e, #007dfc);
    border: 1px solid transparent;
    border-radius: 3px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
    transition: all 220ms;
    cursor: pointer;
}
.boxitem button:hover {
    box-shadow: 0 0 3px rgb(16, 14, 19);
    transform: translateY(-2px);
}
/*-- DoThis page End.. --*/


/*--About page--*/
#about {
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 19, 26);
    display: flex;
}
.abContain, .card {
    margin: auto;
}
.boxcard {
    perspective: 600px;
}
/*about card front&back*/
#boxcard {
    position: relative;
    width: 300px; height: 400px;
    border: 3px solid transparent;
    transition: transform 1.8s;
    transform-style: preserve-3d;
}
#front, #back {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    backface-visibility: hidden;
}
/*front*/
#front {
    background: linear-gradient(to right, darkviolet, #23a6d5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.front-head {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: -45px;
}
.front-head h1 {
    padding-top: 20px;
    font-size: 2rem;
    color: aliceblue;
}
#front img {
    width: 100px;
    margin-top: 50px;
    margin-bottom: 5px;
    background-color: #020024;
    border-radius: 50%;
    border: 2px solid aliceblue;
}
.front-socialmedia {
    display: flex;
    gap: 15px;
    margin: 5px 0;
}
.IG, .FB, .TIKTOK, .GH {
    border-radius: 50%;
}
.IG:hover {
    background: linear-gradient(to bottom, darkviolet, #e73c7e, #ee7752);
}
.FB:hover {
    background: #007dfc;
}
.TIKTOK:hover {
    background: #020024;
}
.GH:hover {
    background: rgb(22, 19, 26);
}
#front p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: bold;
}
#front button {
    width: 80px;
    height: 40px;
    margin-top: 5px;
    font-size: 17px;
    color: aliceblue;
    background-color: #020024;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 200ms;
}
#front button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 3px aliceblue;
}
#front button {
    cursor: pointer;
}
/*back*/
#back {
    background-color: linear-gradient(#020024, #6e163d, #00d4ff);
    transform: rotateY(180deg);
    display: flex;
}
#back h1 {
    text-align: center;
    margin: auto;
    font-size: 3rem;
    display: none;
}
/*about article*/
.abContain {
    max-width: 580px;
    margin-left: 5px;
}
.abContain h2 {
    font-size: 3rem;
    background: linear-gradient(-185deg, #23a6d5, darkviolet);
    background-clip: text;
    text-overflow: clip;
    color: transparent;
    margin-bottom: 10px;
}
.abContain p {
    font-size: 1rem;
    font-weight: 800;
    color: azure;
    margin-bottom: 5px;
}
#about-btn, #about-testbtn {
    background: linear-gradient(-183deg, darkviolet, #23a6d5);
    border: 1px solid transparent;
    border-radius: 5px;
    color: azure;
    font-size: 17px;
    width: 90px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms;
}
#about-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 3px #00d4ff;
}
#about-testbtn {
    display: none;
}
/*--About page End..--*/


/*--Skill page--*/
#skill {
    width: 100%;
    height: 100vh;
    display: flex;
    background: azure;
}
.skillcontainer {
    margin: auto;
}
.headingskills {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -50px;
}
.headingskills h1 {
    font-size: 2.25rem;
}
.boxskills {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem 6rem;
}
.boxskills h1 {
    color: azure;
}
.html, .css, .js, .JQuery, .bootstrap, .tailwindCss, .Git, .reactJS {
    width: 200px;
    height: 150px;
    text-align: center;
    background: rgb(22, 19, 26);
    border: 3px solid transparent;
    border-radius: 5px;
}
/*Overview*/
.ovw-fill {
    margin: -25px 0;
    margin-left: 100px;
    padding-left: 15px;
    padding-top: 2.5px;
    color: azure;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    width: 0; height: 0;
    overflow: hidden;
    opacity: -30;
    transition: 1s linear;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem 6rem;
    box-shadow: 0 0 20px deeppink;
}
.ovw-btn {
    width: 80px; height: 35px;
    border: 2px solid rgb(22, 19, 26);
    border-radius: 5px;
    font-size: 16px;
    color: deeppink;
    margin-top: 30px;
    transition: all 300ms;
}
.ovw-btn label {
    cursor: pointer;
}
.ovw-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 2px rgb(22, 19, 26);
}
.ovw-fill, .ovw-btn {
    background: rgb(22, 19, 26);
}
.ovw-fill h2 {
    font-size: 14px;
}
.ovw-fill h2::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 25px;
    display: block;
    background: linear-gradient(to right, #e73c7e, #5a5bf1);
}

.ovw-btn label::before {
    content: "Overview";
    color: #007dfc;
}
.persen {
    font-size: 12px;
}

.ovw2 {width: 95%;}  .ovw3 {width: 65%;}  .ovw4 {width: 51%;}  .ovw5 {width: 42%;}

.ovw6 {width: 70%;}  .ovw7 {width: 36%;}  .ovw8 {width: 72%;}

#ovw-spawn {
    display: none;
}
#ovw-spawn:checked ~.ovw-fill {
    width: 987px; height: 15vh;
    opacity: 1;
    border: 2px solid transparent;
    box-shadow: none;
}
#ovw-spawn:checked ~.ovw-btn label::before {
    content: none;
}
#ovw-spawn:checked ~.ovw-btn label::after {
    content: "Close";
    color: #e73c7e;
}
/*-- Skill page End.. --*/

/*--Project page--*/
#project {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgb(22, 19, 26);
}
.proContain {
    margin: auto;
}
.headingpro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
}
.headingpro h1 {
    color: darkviolet;
    font-size: 2.25rem;
}
.boxproject {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 4rem;
    max-width: 650px;
}
.boxproject img {
    width: 250px;
    height: 125px;
    border: 2px solid azure;
    border-radius: 5px;
}
.boxproject p {
    width: 250px;
    font-size: 16px;
    color: azure;
}

.promistery img{
    position: absolute;
    width: 150px;
    height: 70px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: azure;
}
.promistery > img {
    margin-top: -417px;
    animation: mistery1 4s ease-in-out infinite;
}
.promistery img + img {
    margin-top: -297px;
    animation: mistery2 4s ease-in-out infinite;
}
@keyframes mistery1 {
    0% {transform: translateX(0); opacity: -1;}
    50%{transform: translateX(-280px); opacity: 1;}
    100%{transform: translateX(0); opacity: -1;}
}
@keyframes mistery2 {
    0%{transform: translateX(400px); opacity: -1;}
    50%{transform: translateX(680px); opacity: 1;}
    100%{transform: translateX(380px); opacity: -1;}
}
/*-- Project page End.. --*/


/*--Contact page--*/
#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    background: azure;
}
.midcontact {
    margin: auto;
}
.headingcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -30px;
    font-size: 30px;
}
.headingcontact h1 {
    position: relative;
    color: deeppink;
}
.headingcontact h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    background: linear-gradient(-185deg, #e73c7e, #007dfc);
}
.boxcontact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15rem;
}
.infocontact {
    max-width: 300px;
}

.infocontact :first-child{margin: 0;}
.infocontact p {margin-top: 20px; font-weight: 600;}

.formcontact {
    max-width: 400px;
    background: linear-gradient(#e73c7e, #007dfc);
    border-radius: 5px;
}

.formgroup {padding: 4px 10px;}
.formgroup h4 {line-height: 1.2; padding-bottom: 3px;}

.phone, .email, .location, .dev {
    padding: 3px;
    border-radius: 50%;
    background: linear-gradient(-185deg, #e73c7e, #007dfc);
}
.p1 {
    padding-top: 20px;
}
.formgroup input,textarea {
    width: 300px;
    padding: 12px;
    border-radius: 8px;
    border: none;
}
.formgroup textarea {
    height: 200px;
    resize: none;
}
.formgroup input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 7px black;
}
.formgroup button {
    padding: 5px;
    display: flex;
    font-weight: 550;
    margin: auto;
    margin-bottom: 2.5px;
    cursor: pointer;
}
/*-- Contact page End --*/

/*--Footer--*/
footer {
    width: 100%; height: 30vh;
    background: rgb(22, 19, 26);
}
.boxfooter-top {
    display: flex;
    padding-top: 20px;
}
.footer-left, .footer-right {
    width: 350px;
    padding-left: 50px;
}
.footer-left h1{
    color: darkviolet;
    font-size: 30px;
}
.footer-left p {
    color: azure;
    font-size: 13px;
}
.footer-right {
    padding-left: 200px;
}
.ft-ulparent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
}
.ft-ulproduct, .ft-ul-uselink, .ft-uladdress {
    width: 170px;
}
.ft-ulparent h3 {
    color: #e73c7e;
    margin-bottom: 5px;
    font-size: 16px;
}
.ft-ulparent ul li,a{
    text-decoration: none;
    list-style: none;
    font-size: 13px;
    color: azure;
}
.ft-ulparent ul li,a:hover {
    color: #00d4ff;
}
.footer-bottom {
    color: azure;
    display: flex;
    padding-top: 25px;
}
.footer-bottom p {
    margin: auto;
    font-size: 16px;
}
/*-- Footer End.. --*/

/*--mobile screen--*/
@media screen and (max-width: 952px) {
    /*Navbar responsive*/
    .navigation {
        position: absolute;
        top: 46px;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        background: transparent;
        backdrop-filter: blur(25px);
        width: 100%;
        right: 0;
        padding: 0 0;
        height: 0;
        overflow: hidden;
        transition: 500ms;
    }
    #checkbox:checked ~.navigation {
        height: 100vh;
        padding: 50px 0;
    }
    .menu {
        display: block;
    }
    .menu label {
        width: 60px;
        height: 60px;
        position: absolute;
        cursor: pointer;
    }
    .line-icon,.x-icon {
        background: azure;
        border: 1px solid black;
        border-radius: 25%;
        margin-top: 4px;
    }
    .x-icon {
        display: none;
    }
    #checkbox:checked ~.menu .line-icon {
        display: none;
    }
    #checkbox:checked ~.menu .x-icon {
        display: block;
    }
    /*Navbar End..*/


    /*--Home page--*/
    #home {
        width: 100%;
        height: 160vh;
        display: inline-block;
    }
    .homeleft,.homeright {
        margin: auto;
    }
    .homeleft {
        text-align: center;
        margin-top: 200px;
    }
    .homeleft h3 {
        margin-top: 0;
    }
    .homeright {
        max-width: 265px;
    }
    .homeright img:nth-child(2) {
        width: 265px;
        margin-top: 100px;
    }
    #motivation {
        margin-top: 5px;
    }
    /*--Home page End..--*/

    /*--Dothis page--*/
    #dothis {
        height: 220vh;
    }
    .headingdothis h1 {
        font-size: 25px;
        text-align: center;
        margin-top: 70px;
    }
    .boxcontainer {
        display: block;
    }
    .boxitem {
        margin: auto;
        margin-bottom: 30px;
    }
    /*--Dothis page End..--*/

    /*--About Page--*/
    #about {
        width: 100%;
        height: 160vh;
        display: flex;
        flex-direction: column-reverse;
    }
    .boxcard, .abcontain {
        margin: auto;
    }
    .abContain h2 {
        margin-top: -20px;
    }
    .abContain h2,p {
        text-align: center;
    }
    #about-btn, #about-testbtn {
        margin: auto;
        margin-top: 30px;
    }
    .abContain {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .boxcard {
        margin-top: -40px;
    }
    #boxcard {
        width: 265px; height: 365px;
    }
    #front, #back {
        width: 265px; height: 365px;
    }
    .front-head {
        gap: 3rem;
        margin-top: 0;
    }
    #front img {
        margin-top: 40px;
    }
    #front button {
        width: 70px;
        height: 40px;
        margin-bottom: 20px;
    }
    /*-- About page End.. --*/

    /*--Skill page--*/
    #skill {
        width: 100%; height: 180vh;
    }
    .boxskills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 1.5rem;
    }
    .headingskills {
        margin-top: -200px;
    }
    .html, .css, .js, .JQuery, .bootstrap, .tailwindCss, .Git, .reactJS {
        width: 180px; height: 130px;
    }
    .svghtml, .svgcss, .svgjs, .svgJQuery, .svgbootstrap, .svgtailwind, .svgGit, .svgreact {
        width: 90px; height: 90px;
    }
    .OverView {
        display: flex;
    }
    .ovw-btn {
        margin: auto;
        margin-top: 30px;
    }
    .ovw-fill {
        position: absolute;
        margin: auto;
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem 1rem;
    }
    #ovw-spawn:checked ~.ovw-fill {
        width: 383px; height: 35vh;
    }
    /*-- Skill page End.. --*/

    /*--Project page--*/
    #project {
        width: 100%; height: 160vh;
    }
    .headingpro {
        margin-top: -10px;
    }
    .boxproject {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem 0;
    }
    .boxproject img,p {
        margin: auto;
    }
    .boxproject img {
        width: 245px; height: 100px;
    }
    .promistery {
        display: none;
        animation: none;
    }
    /*-- Project page End --*/

    /*--Contact page--*/
    #contact {
       width: 100%; height: 180vh;
    }
    .headingcontact {
        margin-top: -20px;
    }
    .boxcontact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 7rem;
    }
    .phone {
        margin-left: 50px;
    }
    /*-- Contact page End --*/
    footer {
        height: 80vh;
    }
    .boxfooter-top {
        display: flex;
        flex-direction: column;
    }
    .footer-left,.footer-right {
        margin: auto;
        padding: 0;
    }
    .footer-right {
        margin-top: 15px;
    }
    .footer-left h1 {
        text-align: center;
    }
    .footer-left p, .ft-ulparent ul li a {
        font-size: 12px;
    }
    .ft-ulparent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
    .ft-ulparent h3, .footer-bottom p {
        font-size: 15px;
    }
    .footer-bottom {
        padding-top: 32px;
    }
    /*-- Footer End --*/
}